html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 15px !important;
	line-height: 1.5;
	color: #222;
}
.hero {
	padding: 180px 0;
	border-bottom: 1px solid #aaa;
	background-image: url("../img/watches.jpg");
	background-repeat: no-repeat;
	background-position: right -30% bottom;
	background-size: auto 95%;
}

.infobox {
	width: 45%;
}
.infobox--white {
	color: #fff;
}
.infobox--right {
	margin-left: auto;
}
.infobox--white .infobox__text {
	border-color: #fff;
}
.infobox__title {
	margin-top: 0;
	font-size: 28px;
}
.infobox__text {
	padding-left: 30px;
	border-left: 1px solid #222;
	margin-top: 0;
	margin-bottom: 30px;
}
.infobox__button {
	display: inline-block;
	padding: 10px 25px;
	font-weight: bold;
	background-color: tomato;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
.infobox__button:hover{
	color: white;
	text-decoration: none;
	background-color: red; 
}
.features {
	padding: 30px 0;
}
.features__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.feature__title{
	font-size: 17.55px;
	text-transform: uppercase;
}
.features__item {
	width: 30%;
}
.feature__dots {
	display: flex;
	width: 7px;
	height: 7px;
	background-color: grey;
	box-shadow: 14px 0 grey,
	28px 0 grey;
}
.feature__link {
	display: inline-flex;
	align-items: center;
	color: tomato;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.feature__link::before {
	width: 30px;
	height: 2px;
	margin-right: 10px;
	background-color: tomato;
	content: "";
	transition: width 0.3s ease;
}
.feature__link:hover{
	color: tomato;
	text-decoration: none;
}
.feature__link:hover::before {
	width: 40px;
}
.nike {
	padding: 50px 0;
}
.nike__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nike__img{
	width: 400px;
	height: 602px;
}
.boys-running {
	padding: 180px 0;
	background-image: 
	linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("../img/runners.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 950px) {
	.hero{
		background-position: right -34% bottom;
		background-size: auto 86%;
	}
}
@media (max-width: 900px) {
	.hero{
		background-position: right -48% bottom;
		background-size: auto 82%;
	}
}
@media (max-width: 800px) {
	.hero{
		background-position: right -60% bottom;
		background-size: auto 80%;
	}
}

@media (max-width: 767px) {
	.hero{
		padding: 250px 0 40px;
		background-size: auto 200px;
		background-position: center top 26px;
	}
	.nike__img{
		margin-bottom: 30px;
		width: 360px;
		height: auto;
	}
	.infobox{
		order: 1;
		width: 87%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.infobox__text{
		border: none;
		padding-left: 0;
	}
	.features__item{
		width: 45%;
		margin-bottom: 20px;
	}
	.features__item:last-child{
		width: 100%;
	}
	.nike__container{
		flex-wrap: wrap;
		justify-content: center;
	}
	.boys-running{
		padding: 120px 0;
	}
}

@media(max-width: 500px){
	.features__list{
		justify-content: space-around;
	}
	.features__item{
		width: 35%;
	}
	.features__item:last-child{
		width: 86%;
	}
	.feature__title{
		font-size: 12px;
	}
	.feature__text{
		font-size: 10px;
		width: 100%;
	}
	.nike__img{
		width: auto;
		height: 400px;
	}
}
@media(max-width: 425px){
	.nike__img{
		height: 290px;
	}
	.feature__dots{
		margin-bottom: 20px;
	}
	.infobox__button {
		padding: 12px 10px;
	}
}